@import "../../sass/colors";
@import "../../sass/responsive";
.main-header-wrapper {
  .navbar {
    box-shadow: 0px 10px 10px rgba(82, 80, 80, 0.06);
  }
  .navbar-nav .nav-link {
    color: $light-font-color;
    text-transform: uppercase;
    padding-left: 30px;
    @include media("<=tablet") {
      padding-left: 0px;
      font-weight: normal;
    }
    font-weight: bold;
    &:hover {
      color: $red;
    }
  }
}

.selected {
  color: $red !important;
}

.open-nav-button {
  transform: rotate(180deg);
}

.navbar-dark .navbar-brand {
  color: #fff;
  margin-right: auto;
  margin-left: auto;
}
